/* =============
    Section 1
============= */

#section-1{


        #wholething{
            border: 1px solid black;
            height: 700px;
            width: auto;
            margin: 70px 0 0 220px;
        }


}

